$light-accents-accent1-primary: #08d899;
$light-accents-accent1-quaternary: #b2f1de;

$light-accents-state-hover: #b2f1de;
$light-accents-state-click: #00b780;
$light-accents-state-focus: $light-accents-accent1-primary;

$light-greyscale-text-primary: #181818;
$light-greyscale-text-secondary: #676767;
$light-greyscale-text-tertiary: #959596;
$light-greyscale-disabled-text: #949697;
$light-greyscale-disabled-bg: #e7ebf1;
$light-greyscale-bg-light: #f0f5f5;
$light-greyscale-white: #ffffff;
$light-greyscale-stroke: #cdd2dd;

$light-systemerror-successful: #3ac922;
