$light-dropshadows-z100: 0px 0px 10px rgba(132, 132, 132, 0.15);
$light-dropshadows-z200: 0px 0px 20px rgba(132, 132, 132, 0.2);
$light-dropshadows-z300: 0px 0px 30px rgba(132, 132, 132, 0.3);

$light-focus: 0px 0px 0px 2px #643296;
$light-focus-btn: 0px 0px 0px 2px #9873ff;
$light-stroke: 0px 0px 0px 2px #e8e8e8;

$border-raduis-cb: 4px;
$border-raduis-btn: 8px;
