/* DESKTOP */
$desktop-h1-font-weight: 800;
$desktop-h1-font-size: 56px;
$desktop-h1-line-height: 62px;

$desktop-text-bold-font-weight: 700;
$desktop-text-regular-font-weight: 500;

$desktop-text-large-font-size: 18px;
$desktop-text-large-line-height: 22px;

$desktop-text-medium-font-size: 16px;
$desktop-text-medium-line-height: 20px;

$desktop-text-small-font-size: 14px;
$desktop-text-small-line-height: 18px;

$desktop-text-extrasmall-font-size: 12px;
$desktop-text-extrasmall-line-height: 16px;

/* TABLET */
$tablet-h1-font-weight: 800;
$tablet-h1-font-size: 48px;
$tablet-h1-line-height: 56px;

$tablet-text-bold-font-weight: 700;
$tablet-text-regular-font-weight: 500;

$tablet-text-large-font-size: 18px;
$tablet-text-large-line-height: 22px;

$tablet-text-medium-font-size: 16px;
$tablet-text-medium-line-height: 20px;

$tablet-text-small-font-size: 14px;
$tablet-text-small-line-height: 18px;

$tablet-text-extrasmall-font-size: 12px;
$tablet-text-extrasmall-line-height: 16px;

/* MOBILE */
$mobile-h1-font-weight: 800;
$mobile-h1-font-size: 40px;
$mobile-h1-line-height: 48px;

$mobile-text-bold-font-weight: 700;
$mobile-text-regular-font-weight: 500;

$mobile-text-large-font-size: 18px;
$mobile-text-large-line-height: 22px;

$mobile-text-medium-font-size: 16px;
$mobile-text-medium-line-height: 20px;

$mobile-text-small-font-size: 14px;
$mobile-text-small-line-height: 18px;

$mobile-text-extrasmall-font-size: 12px;
$mobile-text-extrasmall-line-height: 16px;

/* BUTTONS */
$btns-text-font-weight: 700;
$btns-text-letter-spacing: 0.01em;

$btns-text-large-font-size: 18px;
$btns-text-large-line-height: 24px;

$btns-text-medium-font-size: 16px;
$btns-text-medium-line-height: 24px;

$btns-text-small-font-size: 14px;
$btns-text-small-line-height: 16px;

$btns-text-extrasmall-font-size: 14px;
$btns-text-extrasmall-line-height: 16px;
